*{
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
        display: block;
}

nav .title a {
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 0;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
}
nav .nav-container{
	display: flex;
    align-items: center;

    height: 55px;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}
@media (min-width: 850px){
 nav .nav-container {
    height: 90px;

}
}
.nav-links a{
	text-decoration: none;
	margin: 10px;
}
.title a .logo{
	background-color: #0366EE;
	color: white;
	border-radius: 50%;
	font-size: 25px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-right: 10px;
	box-shadow: 3px 5px 20px rgba(0,0,0,.16);
}
.button{
	box-shadow: 3px 5px 20px rgba(0,0,0,.16);
}
.portfolio-main ,.main{
	margin-top: 200px;
}
 .contact-main{
 	margin-top: 150px;
 }
.hero{
	justify-content: space-between;

}
.hero .author{
	float: left;
	width: 70%;
}
.hero .author-image{
	float: right;
}
.hero .author-image img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 3px 5px 20px rgba(0,0,0,.16);
	pointer-events: none;
}
.hero .author h1{
		margin: 0;
		font-size: 35px;
	}
.hero .author p{
	margin-top: 30px;
	font-size: 20px;
}
.contact-main h3{
	font-size: 40px;
	text-align: center;
}

.contact-main .button{
	margin-top: 10px;
}
.portfolio-main .coming-soon{
	font-size: 40px;
	text-align: center;
}
.hamburger {
	display: none;
}
.social-pages{
	margin-top: 30px;
	text-align: center;
}
@media (max-width: 550px) {
	.hide-on-mobile{
		display: none;
	}

	.hero .author h1{
		font-size: 1.6rem;
		font-weight:500;
	}
	.hero .author p{
		margin-top: 10px;
		font-size: 17px;
	}
	.hamburger{
		display: block;
		text-align: right;
		padding: 10px;
		margin-top: 10px;
		margin-right: 10px;
		color:#0366EE;
		cursor: pointer;
		width: 0px auto;
		height: 0px auto;
	}
	.nav-links{
		display: none;
		text-align: center;
	}
	.nav .nav-container{
		height: auto;
	}
	

}
@media (max-width: 697px){
	.hero{
		 display: flex;
		  flex-flow: column-reverse;
		  align-items: center;
	}
		.hero .author-image{
		margin: 80px;
	}
	.main{
		margin-top: 70px;
	}
} 

@media (max-width: 804px){
	.logo{
		margin-left: 20px;
	}}